<div>
    <div class="form">
        <h1>Sistema de Processamento de XML - Teste CCEE</h1>
    </div>
    <div class="form" *ngIf="retorno$">
        <input type="file" class="ng-hide" id="arquivos" name="arquivos" (change)="getFile($event)" multiple="multiple"
            accept="text/xml" />
        <button (click)="enviarArquivos()" mat-raised-button color="primary" [disabled]="!files" id="buttonSubmit"
            name="buttonSubmit">Importar Arquivo</button>
        <div *ngIf=""></div>

    </div>
    <div class="loading-spinner" *ngIf="!retorno$">
        <mat-spinner></mat-spinner>
    </div>

</div>